/* page width and height settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    background-color: #282a30;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    overflow: hidden;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

/* container */

.main-container {
    background-color: aqua;
    padding-left: 10%;
}

.container .about-container {
    display: grid;
    
    
}

.container .about-container .left-col {
    float: left;
}

.container .about-container .right-col {
    float: left;
}

/* footer */

.footer {
    text-align: center;
    width: 100%;
    /* color white */
    color: #ffffff;
    /* background-color sort of black */
    background-color: #282a30;
}