/* page width and height settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    background-color: #282a30;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    overflow: hidden;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

/* main container */

.main-container {
    background-color: #f3f2ee;
    padding: 1% 10% 2% 10%;
}

/* home container */

.main-container .home-container .header {
    text-align: center;
}

.main-container .home-container .grid-container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.main-container .home-container .left-col {
    text-align: justify;
    background-color: aqua;
    padding: 2% 30% 2% 10%;
}

.main-container .home-container .center-col {
    text-align: justify;
    background-color: yellowgreen;
    padding: 2% 30% 2% 10%;
}

.main-container .home-container .right-col {
    text-align: justify;
    background-color: blanchedalmond;
    padding: 3% 10% 3% 10%;
}

/* about container */

.main-container .about-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.main-container .about-container .left-col {
    text-align: justify;
    background-color: aqua;
    padding: 2% 30% 2% 10%;
}

.main-container .about-container .right-col {
    text-align: justify;
    background-color: blanchedalmond;
    padding: 3% 10% 3% 10%;
}

/* resume container */

.main-container .resume-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 3% 10% 5% 10%;
}

.main-container .portfolio-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.main-container .portfolio-container .left-col {
    text-align: justify;
    background-color: aqua;
    padding: 2% 30% 2% 10%;
}

.main-container .portfolio-container .right-col {
    text-align: justify;
    background-color: blanchedalmond;
    padding: 3% 10% 3% 10%;
}

/* contact container */

.main-container .contact-container {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    padding: 3% 10% 5% 10%;
}

/* footer */

.footer {
    text-align: center;
    width: 100%;
    /* color white */
    color: #ffffff;
    /* background-color sort of black */
    background-color: #282a30;
}